.git
.gitignore
.env
.env.backup
.DS_Store
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.result.cache
phpunit.xml
README.md
docker-compose.yml
Dockerfile
.dockerignore
.github
db/
